.header__logo {
  display: block;
  width: 254px;
  margin: 0 auto;
}

.header__title {
  font-size: 96px;
  line-height: 1.05;
  max-width: 720px;
  text-align: center;
  margin: 90px auto 0;
}

.header__subtitle {
  font-size: 30px;
  line-height: 1.2;
  font-weight: normal;
  margin: 32px auto 0;
  max-width: 720px;
  text-align: center;
}

.header__img {
  display: block;
  width: 100%;
  max-width: 967px;
  margin: 64px auto 0;
  filter: grayscale(100%);
}

@media screen and (max-width: 950px) {
  .header__title {
    font-size: 75px;
  }

  .header__subtitle {
    margin-top: 25px;
  }

  .header__img {
    margin: 30px 0 0;
    max-width: 100%;
  }
}
