.homeland {
  max-width: 984px;
  margin: 0 auto;
}

.homeland__title {
  font-size: 54px;
  line-height: 1.074;
  max-width: 829px;
  margin: 0;
}

.homeland__quote {
  display: flex;
  flex-direction: column;
  max-width: 738px;
  margin-top: 40px;
}

.homeland__quote-text {
  font-size: 24px;
  margin: 0;
  line-height: 1.4;
}

.homeland__quote-cite {
  font-size: 24px;
  font-style: normal;
  align-self: flex-end;
  line-height: 1.4;
  margin-top: 10px;
}

.homeland__text {
  max-width: 725px;
  margin: 32px 0 0;
  line-height: 1.63;
}

@media screen and (max-width: 1024px) {
  .homeland {
    max-width: 93.75vw;
    margin: 0 auto;
    padding: 0;
  }

  .homeland__title {
    font-size: 45px;
  }

  .homeland__quote {
    margin-top: 50px;
  }
}

@media screen and (max-width: 544px) {
  .homeland {
    max-width: 90vw;
    margin: 0 auto;
    padding: 0;
  }

  .homeland__title {
    font-size: 32px;
  }

  .homeland__quote {
    margin-top: 40px;
  }

  .homeland__quote-text {
    line-height: 1.25;
  }

  .homeland__text {
    margin-top: 32px;
  }
}
